* {
  scrollbar-width: thin;
}

// 弹窗
.el-dialog__wrapper {
  .el-dialog {
    border-radius: 5px;
    overflow: hidden;

    .el-dialog__body {
      box-sizing: border-box;
      min-height: 200px;
      overflow-y: auto;
      padding: 20px;
    }

    .el-dialog__footer {
      padding: 12px;
    }

    &:not(.is-fullscreen) {
      .el-dialog__body {
        max-height: calc(800px - 54px);
      }
      &:not(:has(> .el-dialog__footer)) > .el-dialog__body {
        // 大屏header+footer 对话框header 对话框body-padding
        max-height: calc(800px - 54px - 76px);
      }
      &:has(> .el-dialog__footer) > .el-dialog__body {
        // 大屏header+footer 对话框header+footer 对话框body-padding
        max-height: calc(800px - 54px - 56px - 76px);
      }
    }

    &.is-fullscreen {
      &:not(:has(> .el-dialog__footer)) > .el-dialog__body {
        height: calc(100% - 100px);
      }
      &:has(> .el-dialog__footer) > .el-dialog__body {
        //  对话框header+footer 对话框body-padding
        height: calc(100% - 160px);
      }
    }
  }
}

// el-select-tree
.popover-select-tree {
  max-height: 300px;
  min-width: 200px;
  max-width: 400px;
  overflow: auto;
}
